.home-page {
  padding: 2rem;
}

/* Hero section */
.hero-section {
  position: relative;
  background-image: url('/images/friends-sharing-meal-happiness.webp');
  background-size: cover;
  background-position: center;
  padding: 5rem 2rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  overflow: hidden;
}

/* Overlay for readability */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
   background-color: rgba(0, 0, 0, 0.5);
}

/* Text on top of overlay */
.hero-section h1,
.hero-section p {
  position: relative;
  z-index: 1;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.767);
}

/* Title */
.main-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Intro text */
.intro-text {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 0 auto;
}

/* Button container */
.see-more {
  margin-top: 2rem;
  text-align: center;
}

/* See More Button */
.see-more-btn {
  background-color: #388a3b;
  color: white;
  font-weight: 600;
  padding: 0.6rem 1.5rem;
  margin-bottom: 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.see-more-btn:hover {
  background-color: #236726;
  transform: translateY(-2px);
}

/* Grid for meals */
.meal-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1.5rem;
  padding: 2rem 2rem;
}
